.container {
    display: flex; /* Define um contêiner flexível */
    /* justify-content: center; */ /* Centraliza os itens horizontalmente (comentado para não ser aplicado) */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    padding: 10px; /* Adiciona preenchimento interno de 10 pixels */
    /* height: 100vh; */ /* Define a altura do contêiner como 100% da altura da viewport (comentado para não ser aplicado) */
    margin-left: auto; /* Define a margem esquerda automática */
}

.responder-form {
    width: 600px; /* Define a largura do formulário como 600 pixels */
    padding: 10px; /* Adiciona preenchimento interno de 10 pixels */
    border: 1px solid #ccc; /* Adiciona uma borda sólida de 1 pixel com cor #ccc */
    border-radius: 5px; /* Adiciona um raio de borda de 5 pixels para arredondar os cantos */
    background-color: #f9f9f9; /* Define a cor de fundo como #f9f9f9 */
}

.responder-form h3 {
    text-align: center; /* Alinha o texto ao centro */
}

.responder-form label {
    display: block; /* Exibe os rótulos como blocos */
    margin-bottom: 5px; /* Adiciona uma margem inferior de 5 pixels */
}

.responder-form input,
.responder-form textarea {
    width: 100%; /* Define a largura como 100% do contêiner pai */
    padding: 8px; /* Adiciona preenchimento interno de 8 pixels */
    margin-bottom: 10px; /* Adiciona uma margem inferior de 10 pixels */
    border: 1px solid #ccc; /* Adiciona uma borda sólida de 1 pixel com cor #ccc */
    border-radius: 4px; /* Adiciona um raio de borda de 4 pixels para arredondar os cantos */
    box-sizing: border-box; /* Define a caixa de modelo como border-box */
}

.responder-form button {
    width: 100%; /* Define a largura como 100% do contêiner pai */
    padding: 10px; /* Adiciona preenchimento interno de 10 pixels */
    border: none; /* Remove a borda */
    border-radius: 4px; /* Adiciona um raio de borda de 4 pixels para arredondar os cantos */
    background-color: #ffc107; /* Define a cor de fundo como #ffc107 */
    color: white; /* Define a cor do texto como branco */
    cursor: pointer; /* Define o cursor como apontador */
}

.responder-form button:hover {
    background-color: #ffc1079f; /* Define a cor de fundo com um leve tom mais claro quando hover */
}

@media (max-width: 600px) {
    .responder-form {
        width: 100%; /* Define a largura como 100% do contêiner pai quando a largura da viewport é igual ou inferior a 600 pixels */
    }
}
